<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sewaseven.sewaseven">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sewaseven"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sewaseven"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ServiceList"></activity>
        <activity android:name=".SearchResults"
                  android:parentActivityName=".Home"
            ></activity>
        <activity android:name=".About" />
        <activity android:name=".AddNewFaq" />
        <activity android:name=".SeeFAQ" />
        <activity
            android:name=".FAQUpdate"
            android:parentActivityName=".AskedQuestions" />
        <activity android:name=".CreateUpdateMyFeedback" />
        <activity android:name=".RatingsAndReviews" />
        <activity android:name=".ServicePage" />
        <activity android:name=".FeedbackAndRatings" />
        <activity android:name=".UpdateDeleteAnnouncement" />
        <activity android:name=".UpdateServiceDetails" />
        <activity android:name=".DeleteService" />
        <activity android:name=".NewAnnouncement" />
        <activity android:name=".PreviousAnnouncement" />
        <activity android:name=".AskedQuestions" />
        <activity android:name=".ChangeYourInformation" />
        <activity android:name=".RegisterNewService" />
        <activity android:name=".Dashboard" android:parentActivityName=".ServiceList"/>
        <activity android:name=".Login" />
        <activity android:name=".Mainmenu" />
        <activity android:name=".Home" />
        <activity android:name=".Signup" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>